<!DOCTYPE html>
<html ng-app="app" ng-controller="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        body {
            font-family: 'Helvetica', sans-serif;
            padding: 20px;
        }

        input {
            width: 100%;
            padding: 10px;
            font-size: 18px;
        }

        .results{
            margin-top: 30px;
            padding-top: 20px;
            border-top: solid 0.5px #dedede;
        }

        .list {
            list-style-type: none;
            padding: 0px;
            margin: 0px;
        }
    </style>
</head>
    <body>
        <div class="container">
            <input type="text" id="input" class="form-control" placeholder="Type the name of the User"/>
            <div class="results"> </div>
        </div>
    </body> 
    <script src="/public/js/script.js"></script>
</html>